<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CrudActividad</display-name>
    <servlet-name>CrudActividad</servlet-name>
    <servlet-class>controlador.CrudActividad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudActividad</servlet-name>
    <url-pattern>/CrudActividad</url-pattern>
  </servlet-mapping>
  <display-name>Verano</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrudSolicitud</display-name>
    <servlet-name>CrudSolicitud</servlet-name>
    <servlet-class>controlador.CrudSolicitud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudSolicitud</servlet-name>
    <url-pattern>/CrudSolicitud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sv_solicitud</display-name>
    <servlet-name>Sv_solicitud</servlet-name>
    <servlet-class>controlador.Sv_solicitud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_solicitud</servlet-name>
    <url-pattern>/Sv_solicitud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sv_actividad</display-name>
    <servlet-name>Sv_actividad</servlet-name>
    <servlet-class>controlador.Sv_actividad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_actividad</servlet-name>
    <url-pattern>/Sv_actividad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionActividad</display-name>
    <servlet-name>GestionActividad</servlet-name>
    <servlet-class>controlador.GestionActividad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionActividad</servlet-name>
    <url-pattern>/GestionActividad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionSolicitud</display-name>
    <servlet-name>GestionSolicitud</servlet-name>
    <servlet-class>controlador.GestionSolicitud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionSolicitud</servlet-name>
    <url-pattern>/GestionSolicitud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActSolicitud</display-name>
    <servlet-name>ActSolicitud</servlet-name>
    <servlet-class>controlador.ActSolicitud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActSolicitud</servlet-name>
    <url-pattern>/ActSolicitud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarActividad</display-name>
    <servlet-name>ListarActividad</servlet-name>
    <servlet-class>controlador.ListarActividad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarActividad</servlet-name>
    <url-pattern>/ListarActividad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionAdmin</display-name>
    <servlet-name>GestionAdmin</servlet-name>
    <servlet-class>controlador.GestionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionAdmin</servlet-name>
    <url-pattern>/GestionAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionAdministrador</display-name>
    <servlet-name>GestionAdministrador</servlet-name>
    <servlet-class>controlador.GestionAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionAdministrador</servlet-name>
    <url-pattern>/GestionAdministrador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarAdministrador</display-name>
    <servlet-name>ListarAdministrador</servlet-name>
    <servlet-class>controlador.ListarAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAdministrador</servlet-name>
    <url-pattern>/ListarAdministrador</url-pattern>
  </servlet-mapping>
</web-app>